<p id="notice"><%= notice %></p>
<h1>タスク一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to 'ブログを削除する', task_path(task.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<h4><%= link_to "新規投稿",new_task_path %></h4>
