<h1><%= @user.full_name %>のページ</h1>
<p>
  <strong>ユーザー名：</strong>
  <%= @user.full_name %>
</p>
<p>
  <strong>メールアドレス：</strong>
  <%= @user.email %>
</p>
<p>
<strong>管理者権限：</strong>
<%= @user.admin == true ? 'あり' : 'なし' %>
</p>
<%= link_to 'ユーザー情報編集', edit_user_path(@user) %>
<hr>

<h1><%= @user.full_name %>のTask一覧</h1>
<button type="button" class="btn btn-warning"><%= link_to "新規投稿",new_task_path %></button>

<table class="table table-bordered">
  <tr>
    <th>ユーザー名</th>
    <th>タスク名</th>
    <th>内容</th>
    <th><%= link_to "終了期限でソート▼", tasks_path(sort_expired: "true") %></th>
    <th>ステータス</th>
    <th><%= link_to "優先順位▼",tasks_path(sort_priority: "true") %></th>
  </tr>
  <hr>
  <% current_user.tasks.each do |task| %>
    <tr class="tasks_list">
      <td><%= task.user.full_name %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td class="expiration_date"><%= l(task.expiration_date, format: :long) %></td>
      <td class="status"><%= task.status %></td>
      <td class="priority"><%= task.priority %></td>
      <td>
      </td>
      <td><%= link_to '詳細', task_path(task.id), class:"btn btn-primary btn-xs" %></td>
      <td><%= link_to "編集", edit_task_path(task.id), class:"btn btn-success btn-xs" %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class:"btn btn-danger btn-xs" %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'タスク一覧画面へ戻る', tasks_path %>